<h3 class="title is-4">Games</h3>

    <ul class="columns is-1">
   
        <% for (var i = 0; i < games.length; i++) { %>
        <li class="column">
        
            <img src="<%= games[i].cover %>" alt="<%= games[i].title %>">
          
        </li>
        <% } %>
         <li class="column is-one-third">
            <img src="images/add-game.png" alt="">
            <a href='/games' id="" class="icon add material-icons">search</a>
        </li>
    </ul>    

