<h3 class="title is-4">Games</h3>

<div class="columns is-mobile is-multiline">

    <% for (var i = 0; i < games.length; i++) { %>
    <div class="column is-one-third">

        <img src="<%= games[i].cover %>" alt="<%= games[i].title %>">

    </div>
    <% } %>
    <div class="column is-one-third">

        <a href='/games' class="button is-small is-rounded">
            <span class="icon is-small">
                <ion-icon name="search-outline"></ion-icon>
            </span>

        </a>
    </div>
</div>