<footer>
    <nav class="tabs is-fullwidth navbar is-fixed-bottom is-primary">
        <% if (typeof title != "undefined") { %>
        <ul>
            <li> <a href="/profile">
                    <ion-icon name="person-circle<%_ if (title !== 'Profile') { %>-outline<% } else {} %>">
                    </ion-icon>
                </a> </li>
            <li> <a href="/">
                    <ion-icon name="compass<%_ if (title !== 'Discover') { %>-outline<% } %>"></ion-icon>
                </a> </li>
            <li> <a href="/chat">
                    <ion-icon name="chatbubbles<%_ if (title !== 'Chats') { %>-outline<% } else {} %>">
                    </ion-icon>
                    </ion-icon>
                </a> </li>
        </ul>

        <% } else { %>
        <ul>
            <li> <a href="/profile">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </a> </li>
            <li><a href="/">
                    <ion-icon name="compass-outline"></ion-icon>
                </a> </li>
            <li> <a href="/chat">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </a> </li>
        </ul>

        <% } %>


    </nav>

</footer>
<script src="/js/main.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>