        <footer>
<%if (typeof user == 'object' && user) {%>
        <nav class=mobile-nav>
      
        <a href="/profile"><img src="/images/user.svg" /></a>
        <a href="/"><img src="/images/logo.svg" /></a>
        <a href="/chat"><img src="/images/chat.svg" /></a>
      
    </nav>
    <% } else {} %>
    </footer>
        <script src="/js/main.js"></script>
    </body>
</html>

