:root {
    // radius
    --radius-sm: calc(var(--radius, 0.25em)/2);
    --radius-md: var(--radius, 0.25em);
    --radius-lg: calc(var(--radius, 0.25em)*2);

    // box shadow
    --shadow-xs: 0 1px 2px rgba(0, 0, 0, .1); // lower depth;
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1); // low depth;
    --shadow-md: 0 1px 8px rgba(0, 0, 0, .085), 0 8px 24px rgba(0, 0, 0, .1); // medium depth
    --shadow-lg: 0 1px 8px rgba(0, 0, 0, .085), 0 16px 48px rgba(0, 0, 0, .085), 0 24px 60px rgba(0, 0, 0, .085); // high depth
    --shadow-xl: 0 1px 8px rgba(0, 0, 0, .085), 0 16px 64px rgba(0, 0, 0, .15), 0 24px 100px rgba(0, 0, 0, .15); // higher depth

    // timing functions
    // credits: https://github.com/ai/easings.net
    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);

     --space-unit: 1em;
     --space-xxxxs: calc(0.125 * var(--space-unit));
     --space-xxxs: calc(0.25 * var(--space-unit));
     --space-xxs: calc(0.375 * var(--space-unit));
     --space-xs: calc(0.5 * var(--space-unit));
     --space-sm: calc(0.75 * var(--space-unit));
     --space-md: calc(1.25 * var(--space-unit));
     --space-lg: calc(2 * var(--space-unit));
     --space-xl: calc(3.25 * var(--space-unit));
     --space-xxl: calc(5.25 * var(--space-unit));
     --space-xxxl: calc(8.5 * var(--space-unit));
     --space-xxxxl: calc(13.75 * var(--space-unit));
     --component-padding: var(--space-md);

     --zindex-header: 2;
     --zindex-popover: 5;
     --zindex-fixed-element: 10;
     --zindex-overlay: 15; // modals and dialogs
}
