<%- include ('../partials/head') %>
<header>
	<nav class="navbar is-fixed-top">
		<div class="navbar-menu is-flex is-shadowless">
			<div class="navbar-start">
				<div class="navbar-item is-invisible">
					<a class="navbar-link is-arrowless">
						Back
					</a>
				</div>
			</div>
			<div class="navbar-center">
				<div class="navbar-item">
					<h1 class="title">
						Chats
					</h1>
				</div>
			</div>
			<div class="navbar-end">
				<div class="navbar-item  is-invisible">
					<a href="profile/edit" class="navbar-link is-arrowless">
						Edit
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>
<section class="section">
	<div class="container">
		<h2>If you get some matches they will appear here !</h2>
	
	</div>
</section>
<%- include ('../partials/tail') %>
