// Component file is for components such as buttons,
// navbars,
// cards,
// anything that is reusable. Since we have a small project our component file should be manageable.

.btn {
    // basic button style
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    font-size: var(--btn-font-size, 1em);
    padding-top: var(--btn-padding-y, 0.5em);
    padding-bottom: var(--btn-padding-y, 0.5em);
    padding-left: var(--btn-padding-x, 0.75em);
    padding-right: var(--btn-padding-x, 0.75em);
    border-radius: var(--btn-radius, 0.25em);
    cursor: pointer;
}

// themes
.btn--primary {
    background-color: var(--color-primary, hsl(220, 90%, 56%));
    color: var(--color-white, hsl(0, 0%, 100%));
}